@import "./utils/variables";
@import "./utils/mixins";

.form-view {
	background-color: #fff;
	overflow: hidden;
	width: 100%;
	padding: 24px;
	min-width: 304px;
	.item {
		width: 28%;
		margin-bottom: 3.33rem;
		.control {
			width: 100%;
		}
	}
}
